RailroadTrainMonitor/TestImages
RailroadTrainMonitor/TrainImages
RailroadTrainMonitor/Screenshots
RailroadTrainMonitor/__pycache__
RailroadTrainMonitor/Backups
RailroadTrainMonitor/ClassAnnotations.csv
RailroadTrainMonitor/TrainedModel.pth
RailroadTrainMonitor/.idea

OpenImagesDownloadScripts/class-descriptions.csv
OpenImagesDownloadScripts/Downloader.py
OpenImagesDownloadScripts/oidv6-train-annotations-bbox.csv
OpenImagesDownloadScripts/test-annotations-bbox.csv
