RailroadTrainMonitor/TestingImages
RailroadTrainMonitor/TrainingImages
RailroadTrainMonitor/TrainingImagesCurated
RailroadTrainMonitor/TrainingImagesFull
RailroadTrainMonitor/TrainingImagesNegative
RailroadTrainMonitor/TrainingImagesNegativeUnannotated
RailroadTrainMonitor/__pycache__
RailroadTrainMonitor/Backups
RailroadTrainMonitor/*.pth
RailroadTrainMonitor/.idea
RailroadTrainMonitor/*.txt
RailroadTrainMonitor/*.csv
RailroadTrainMonitor/TrainingScreenshots
RailroadTrainMonitor/TrainingScreenshotsNegative
RailroadTrainMonitor/config.ini
RailroadTrainMonitor/*.log

OpenImagesDownloadScripts/*.csv
OpenImagesDownloadScripts/Downloader.py
OpenImagesDownloadScripts/TestingImages
OpenImagesDownloadScripts/TrainingImages
OpenImagesDownloadScripts/TrainingImagesNegative
OpenImagesDownloadScripts/*.txt

StockPredictor/*.csv
StockPredictor/*.pth
